// Import the scss variables
@import "~src/scss/variables";

header {
    nav {
        width: 100%;
        height: auto;
        background: $background-color;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    ul {
       display: flex;
       flex-flow: row wrap; 
       justify-content: center;  
    li {
        list-style-type: none;
        color: $text-color;
        font-family: $font-family;
        margin-left: 1rem;
        cursor: pointer;
        a{
        color: $text-color;
        text-decoration: none;
        }
        .active{
            color: blue;
            text-decoration: underline;
            transition: 1s;
        }
    }  
    }
    }
}