<header>
    <nav>
        <ul>
            <li>
            <a [routerLink]="['/weather/weather-home']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>               
            </li>
            <li>
            <a [routerLink]="['/weather/weather-city-two']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
                Mumbai city
            </a>            
            </li>
            <li>
            <a [routerLink]="['/weather/weather-view']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
                London
            </a>
            </li>
            <li>
            <a [routerLink]="['/weather/weather-city-three']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">
                Chicago city
            </a>
            </li>
        </ul>
    </nav>
</header>