/* You can add global styles to this file, and also import other style files */
// Import the scss variables
@import "~src/scss/variables";

// Universal styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

